{% extends "main_template.html" %}

{% block title %}ورود کارمند{% endblock title %}
{% block content %}



    {% if messages %}
    {% for message in messages %}

        {{ message }}

    {% endfor %}
    {% endif %}


        {% csrf_token %}
        {{ form.national_code.label }}
            {{ form.national_code }}
            {% if form.national_code.errors %}

                {% for error in form.national_code.errors %}
                {{ error }}
                {% endfor %}
            
            {% endif %}


            {{ form.password.label }}
            {{ form.password }}
            {% if form.password.errors %}

                {% for error in form.password.errors %}
                {{ error }}
                {% endfor %}

            {% endif %}


{% endblock content %}